!!!
%html
  %head
    %title App
    %link{href: stylesheet_path('application.css'), rel: 'stylesheet'}/
  %body
    .navbar.navbar-default.navbar-static-top
    .container
      .jumbotron
        .container
          %h1 Hello World!
    %script{src: javascript_path('application.js'), type: 'text/javascript'}
